.card{
    font-family: var(--font-family);
    align-self: flex-start;
    margin-bottom: 20px;
}

.card_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.card__img_container{
    position: relative;
    width: 340px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05);
}

.card__img_container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    z-index: 99;
}

.img_container__cube{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 36px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.cube_in_target {
    position: absolute;
    bottom: 8px; 
    right: 8px;
    width: 54px;
    height: 28px;
    background-color: var(--color-primary);
    border-radius: 5px;
}

.img_container__description {
    padding: 11px 8px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 0 0 9px 9px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translate(0, 100%);
    transition: opacity .3s, transform 0.3s ease-in-out;
    overflow: hidden;
}

.img_container__description.visible {
    transform: translate(0, 0);
    opacity: 1;
}
.img_container__description span{
    width: 65%;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    
}
.img_container__description a{
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: #fff;
    text-decoration: none;
    
    padding: 10px;
    background: var(--color-secondary);
    border-radius: 8px;
}

.card__text_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 14px 16px 0;

    font-size: 12px;
    font-weight: 400;
    color: var(--color-primary)
}

.card__button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.card__button svg path {
    width: 20px;
    height: 20px;
    fill: #b2b1b1;
}
.card__button:hover svg path {
    width: 20px;
    height: 20px;
    fill: #F44336;
}

.img_container__cube span, .cube_in_target span{
    padding: 5px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}