@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Colors */
    --color-primary: #191818;
    --color-secondary: #017C6E;
    
    /* Fonts */
   --font-family: 'Roboto', sans-serif;

    /* Spaces */
    --padding: 12px 75px
}
body{
    overflow: scroll;
    overflow-x: hidden;
}
body, html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) #fff;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}